* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
}

p {
    margin-bottom: 0;
}

header {
    background-color: #fe0016;
    height: 120px;
    box-shadow: 0px 5px 15px black;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.img {
    position: absolute;
    top: 25px;
}

#title h1 {
    font-family: Polygon Party;
    text-shadow: 4px 3px black;
    color: whitesmoke;
    font-size: 45px;
    margin: 0;
    margin-left: 180px;
}

nav {
    font-family: Roboto;
}

nav a {
    color: white;
    padding: 10px 0px;
    text-decoration: none;
}

nav a.active {
    pointer-events: none;
    color: goldenrod;
}

nav a::after {
    content: "|";
    margin-left: 10px;
}

#content {
    font-family: Roboto;
    margin-top: 50px;
    display: flex;
}

article {
    min-height: 391px;
    width: 80%;
    color: rgb(32, 32, 32);
}

article h2 {
    font-family: Polygon Party;
    color: goldenrod;
    font-size: 45px;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

article p {
    text-align: center;
    padding: 5px;
}

aside {
    background-color: transparent;
    min-height: 200px;
    width: 20%;
    text-align: center;
}

aside h3 {
    padding: 30px 0px 40px 30px;
    font-family: Roboto;
    color: rgb(88, 88, 88);
}

#social {
    list-style: none;
    padding-left: 160px;
}

#social li {
    padding-bottom: 15px;
}

#social a {
    color: rgb(26, 25, 25);
    font-size: 8pt;
    text-align: center;
    text-decoration: none;
}

footer {
    background-color: #fe0016;
    height: 50px;
    text-align: center;
    color: white;
    font-family: Roboto;
    position: sticky;
    width: 100%;
    bottom: 0;
    line-height: 50px;
}